*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Baloo;
    background: linear-gradient(to left, #8942a8, #ba382f);
    color: white;
}

/*---------------INDEX+HEADER+FOOTER---------------*/
@media screen and (max-width: 600px) {
    body{
        font-size: 25px;
    }

    .i-header{
        grid-auto-flow: row;
        justify-content: center;
    }

    .i-markets-coin-grid{
        grid-template-columns: 50px minmax(20px,1fr) 0 2fr 2fr;
    }
    .uni-coin-fname{
        visibility: hidden;
    }

    .i-partners-grid{
        grid-auto-flow: row;
        grid-auto-rows: 80px;
    }

    .w-coin-grid{
        grid-template-columns: 50px minmax(20px,1fr) 0 2fr 2fr;
    }
}
@media screen and (min-width: 600px) {
    body{
        font-size: 25px;
    }

    .i-header {
        grid-template-columns: repeat(auto-fit, minmax(410px, 1fr));
        justify-content: end;
    }
    .i-header-grid {
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-column-gap: 25px;
        justify-content: end;
        padding-right: 25px;
        background: #1b1b1b;
    }
    .i-header h1 {
        justify-self: start;
        padding-left: 25px;
    }

    .i-markets-coin-grid{
        grid-template-columns: 50px 1fr 2fr 1fr 1fr;
    }
    .uni-coin-fname{
        text-align: left;
        visibility: visible;
    }

    .i-partners-grid{
        grid-template-columns: repeat(3,1fr);
        grid-auto-rows: 100px;
    }

    .w-coin-grid{
        grid-template-columns: 50px 1fr 2fr 1fr 1fr;
    }
}

.i-header{
    display: grid;
    text-align: center;
    align-items: center;
    background: #1b1b1b;
}
.i-header h1 a{
    color: white;
    text-decoration: none;
    transition-duration: 0.07s;
}
.i-header h1 a:hover{
    color: gold;
}
.i-header-grid a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 5px;
    transition-duration: 0.07s;
}
.i-header-grid a:hover{
    color: chartreuse;
}

.i-main-wrapper{
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
    padding-right: 40px;
    padding-left: 40px;
}

.i-features{
    padding-top: 70px;
    text-align: left;
}
.i-login-menu{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-column-gap: 20px;
    grid-row-gap: 15px;
}
.i-login-menu a span {
    display: block;
}
.i-login-menu a{
    color: white;
    text-decoration: none;
    background: #1b1b1b66;
    padding: 20px;
    transition-duration: 0.07s;
    border: 2px solid #1b1b1b66;
    border-radius: 30px;
}
.i-login-menu a:hover{
    background: #4CAF50;
}

.i-markets{
    display: grid;
    grid-auto-flow: row;
    text-align: left;
    padding-top: 100px;
}
.i-markets-grid{
    display: grid;
    grid-auto-rows: 50px;
    grid-row-gap: 15px;
}
.i-markets-coin-grid{
    display: grid;
    grid-template-rows: 50px;
    grid-column-gap: 20px;
    text-align: center;
    align-items: center;
}
.i-markets-coin-grid img{
    width: 50px;
    height: 50px;
}

.i-partners{
    padding-top: 100px;
    text-align: left;
}
.i-partners-grid{
    display: grid;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.i-footer{
    text-align: right;
    margin-top: 10px;
    padding-right: 25px;
    background: linear-gradient(to right, #1b1b1b00, #1b1b1b);
    font-size: 20px;
}
/*---------------LOGIN+SIGNUP---------------*/
.li-main-wrapper{
    display: grid;
    grid-auto-columns: auto;
    justify-items: center;
    align-items: center;
    padding: 10% 10px;
}
.li-form{
    display: grid;
    grid-auto-columns: minmax(270px, auto);
    grid-row-gap: 20px;
    text-align: center;
}
.li-form input::placeholder{
    color: #FFFFFFAA;
}
.li-form input{
    font-family: Baloo;
    font-size: 25px;
    border-radius: 35px;
    background: none;
    display: block;
    padding: 20px 14px;
    outline: none;
    color: white;
}
.li-form input[type = "text"],.li-form input[type = "email"],.li-form input[type = "password"]{
    border: 2px solid #1b1b1bcc;
}
.li-form input[type = "submit"]{
    /*border: 2px solid gold;*/
    border: 2px solid #1b1b1b66;
    background: #1b1b1b66;
    margin-left: 50px;
    margin-right: 50px;
    transition-duration: 0.07s;
    -webkit-appearance: none;
}
.li-form input[type = "submit"]:hover{
    border: 2px solid #1b1b1b66;
    background: #4CAF50;
}
/*---------------TRADING---------------*/
.t-main-wrapper{
    display: grid;
    grid-auto-columns: auto;
    justify-items: center;
    align-items: center;
}
.t-soon{
    text-align: center;
    padding: 10%;
}
/*---------------WALLET---------------*/
.w-main-wrapper{
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 10%;
}
.w-info{
    padding-top: 10%;
}
.w-balance-grid{
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 15px;
    text-align: left;
    padding-top: 50px;
}
.w-coin-grid{
    display: grid;
    grid-template-rows: 50px;
    grid-column-gap: 10px;
    text-align: center;
    align-items: center;
}
.w-coin-grid img{
    width: 50px;
    height: 50px;
}
/*---------------PROFILE---------------*/
.p-main-wrapper{
    display: grid;
    grid-auto-columns: auto;
    grid-row-gap: 50px;
    justify-items: start;
    align-items: center;
    padding: 5% 20%;
}
.p-info{
    text-align: left;
}
/*---------------CONTACTS---------------*/
.c-main-wrapper{
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
    padding: 10%;
}
.c-contacts{
    text-align: center;
}




