*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Baloo;
    background: linear-gradient(to left, #8942a8, #ba382f);
    color: white;
}

@media screen and (max-width: 600px) {
    body{
        font-size: 25px;
    }

    .i-header{
        grid-auto-flow: row;
        justify-content: center;
    }

    .i-markets-coin-grid{
        grid-template-columns: 50px minmax(20px,1fr) 0 2fr 2fr;
    }
    .fname{
        visibility: hidden;
    }

    .i-partners-grid{
        grid-auto-flow: row;
    }

}
@media screen and (min-width: 600px) {
    body{
        font-size: 25px;
    }

    .i-header {
        grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
        justify-content: end;
    }
    .i-header-grid {
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-column-gap: 25px;
        justify-content: end;
        padding-right: 15px;
        background: #1b1b1b;
    }
    .i-header h1 {
        justify-self: start;
        padding-left: 25px;
    }

    .i-markets-coin-grid{
        grid-template-columns: 50px 1fr 2fr 1fr 1fr;
    }
    .fname{
        text-align: left;
        visibility: visible;
    }

    .i-partners-grid{
        grid-template-columns: repeat(3,1fr);
    }

}

.i-header {
    display: grid;
    text-align: center;
    align-items: center;
    background: #1b1b1b;
}

.i-markets-coin-grid{
    display: grid;
    grid-template-rows: 50px;
    grid-column-gap: 20px;
    text-align: center;
    align-items: center;
}
.i-markets-coin-grid img{
    width: 50px;
    height: 50px;
}

.i-main-wrapper{
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
    padding-right: 40px;
    padding-left: 40px;
}

.i-features{
    padding-top: 70px;
    text-align: left;
}

.i-markets{
    display: grid;
    grid-auto-flow: row;
    text-align: left;
    padding-top: 100px;
}
.i-markets-grid{
    display: grid;
    grid-auto-rows: 50px;
    grid-row-gap: 15px;
}

.i-partners{
    padding-top: 100px;
    text-align: left;
}
.i-partners-grid{
    display: grid;
    justify-content: center;
    text-align: center;
}




